body {
    background-color: #B7B1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

#add {
    background: #FDB7EA;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95%;
    min-width: 1400px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

#codeDescription {
    background: lavenderblush;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#codeDescription::placeholder {
    color: black;
    opacity: 0.7;
}


#codePaste {
    background: lavenderblush;
    width: 100%;
    min-height: 400px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: monospace;
}

#codePaste::placeholder {
    color: black;
    font-size: 20px;
}

#add button {
    background: lavenderblush;
    font-size: 25px;
    padding: 5px 10vw;
    width: auto;
    align-self: center;
}

#List {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 95%;
    max-width: 1400px;
    margin: 20px auto;
    padding: 0;
}

.template-item {
    background: #FDB7EA;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    height: 400px;
}

.code-desc {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #333;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.code {
    flex-grow: 1;
    background: #282c34;
    color: #abb2bf;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    overflow: auto;
    margin-bottom: 10px;
}

.template-item button {
    font-size: 18px;
    font-weight: bold;

    padding: 12px 20px;

    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.2s;

    width: 100%;
    margin-top: 8px;
}


.copy-btn {
    background-color: #F0FFDF;
    color: black;
}

.delete-btn {
    background-color: #FFDCCC;
    color: black;
}

.template-item button:hover {
    filter: brightness(90%);
    transform: scale(1.02);
}

.template-item button:active {
    transform: scale(0.98);
}